<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人简介 hn-p</title>
</head>
<body>
    <h1>周杰伦个人简介</h1>
    <h2>早年经历</h2>
    <p>周杰伦出生于台湾省新北市，祖籍福建省泉州市永春县 [23]  。周杰伦小时候，母亲叶惠美把他送到淡江山叶幼儿音乐班学习钢琴 [24]  。周杰伦读初中二年级时，他的父母因性格不合离婚，而周杰伦则归母亲叶惠美抚养。中考时，周杰伦没有考上普通高中；同年，他因为擅长钢琴而被淡江中学第一届音乐班录取。高中毕业以后，他两次报考台北大学音乐系均没有被录取，于是他开始在一家餐馆打工</p>
    <p>1997年9月，周杰伦在母亲的鼓励下报名参加了台北星光电视台的娱乐节目《超级新人王》，并在节目中邀人演唱了自己创作的歌曲《梦有翅膀》。当主持人吴宗宪看到这首歌曲的曲谱后，就邀请周杰伦到阿尔发音乐公司担任音乐助理 [24]  。1998年，他创作了歌曲《眼泪知道》，在公司把这首歌曲给刘德华以后却被退歌；而他为张惠妹创作的歌曲《双截棍》和《忍者》（后收录于周杰伦个人专辑《范特西》中）也被退回。</p>
    <h2>演艺经历</h2>
    <p>2000年，在杨峻荣的推荐下，周杰伦开始演唱自己创作的歌曲；11月7日，发行首张个人专辑《Jay》，并包办全部歌曲的作曲、和声编写以及监制工作 [27]  ；该专辑融合了R&B、嘻哈等多种音乐风格 [28]  ，其中主打歌曲《星晴》获得第24届十大中文金曲优秀国语歌曲金奖 [29]  ，而周杰伦也凭借该专辑在华语乐坛受到关注，并于次年获得第12届台湾金曲奖最佳流行音乐演唱专辑奖、第12届台湾金曲奖最佳制作人提名、第12届台湾金曲奖最佳作曲人提名 [30-31]  。</p>
    <p>2001年9月，周杰伦发行了第二张专辑《范特西》，他除了担任专辑的制作人外，还包办了专辑中所有歌曲的作曲；该专辑是周杰伦确立其唱片风格的作品，其中结合中西方音乐元素的主打歌《双截棍》成为饶舌歌曲的代表作之一 [32-33]  ；该专辑发行后也让周杰伦打开东南亚市场 [32]  ，并于次年获得第13届台湾金曲奖最佳专辑制作人奖、最佳作曲人奖、最佳流行音乐专辑奖以及香港唱片销量大奖颁奖典礼十大销量国语唱片等奖项 [34]  ；10月，为李玟创作融合中西方音乐元素的歌曲《刀马旦》 [35]  ；12月24日，发行EP《Fantasy + Plus》，收录了他在桃园巨蛋演唱会上演唱的《你比从前快乐》、《世界末日》等歌曲；同年，获得第19届十大劲歌金曲颁奖典礼最受欢迎唱作歌星金奖、叱咤乐坛流行榜颁奖典礼叱咤乐坛生力军男歌手金奖等奖项。</p>
    <p>2007年2月，首度担任导演并自导自演爱情片《不能说的秘密》 [78]  ，该片上映后获得第44届台湾电影金马奖年度台湾杰出电影、第27届香港电影金像奖最佳亚洲电影提名等奖项 [8]  ；4月，成立杰威尔音乐有限公司 [79]  ；5月，入围第18届台湾金曲奖最佳年度歌曲、最佳音乐录像带导演等奖项 [80]  ；6月，凭借单曲《霍元甲》获得第18届台湾金曲奖最佳单曲制作人奖 [81]  ；11月2日，发行专辑《我很忙》，并在专辑中首次尝试美式乡村风格 [82]  ；而周杰伦也于次年凭借专辑中的中国风歌曲《青花瓷》获得第19届台湾金曲奖最佳作曲人奖以及最佳年度歌曲奖 [83]  ；11月4日，凭借专辑《依然范特西》蝉联世界音乐大奖中国区最畅销艺人奖 [84]  ；11月24日，在上海八万人体育场举行演唱会，并在演唱会中模仿了VITAS的假声唱法 [85-86]  ；12月，在香港红磡体育馆举行7场“周杰伦07-08世界巡回香港站演唱会” [87]  。</p>
    <h2>个人生活</h2>
    <p>周杰伦的父亲周耀中是淡江中学的生物老师 [170]  ，母亲叶惠美是淡江中学的美术老师。周杰伦跟母亲之间的关系就像弟弟跟姐姐。他也多次写歌给母亲，比如《听妈妈的话》，甚至还把母亲的名字叶惠美作为专辑的名称。由于父母离异，因此周杰伦很少提及父亲周耀中，后来在母亲和外婆的劝导下，他重新接纳了父亲</p>
    <p>2014年11月17日，周杰伦正式公开了与昆凌的恋情 [171]  。2015年1月17日，周杰伦与昆凌在英国举行婚礼 [172-173]  ；2月9日，周杰伦与昆凌在台北举行泳池户外婚宴 [174]  ；3月9日，周杰伦、昆凌在澳洲举办家庭婚礼 [175-176]  ；7月12日，周杰伦与昆凌的女儿出生 [177]  。2017年2月13日，周杰伦宣布妻子怀二胎 [178]  ；6月8日，周杰伦与昆凌的儿子出生.</p>
    <p>周杰伦平时爱玩游戏，在进入乐坛后，他还通过玩游戏激发创作歌曲的灵感 [180]  。2016年4月19日，周杰伦正式成立电竞战队“J战队”，并担任J战队的队长 [181]  。</p>
    <p>2017年4月9日，周杰伦与IDG共同创立“魔杰电竞”品牌，并在深圳开设了第1家旗舰店 [182]  。</p>
    
</body>
</html>