<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表格-课程练习</title>
</head>
<body>
    <table border="1" cellspacing="1" vertical="middle" align="center">
        <thead>
        <tr>
            <th>班次名称</th>
            <th>科目</th>
            <th>授课内容</th>
            <th>增值服务</th>
            <th>课时</th>
            <th>价格</th>
            <th>试听</th>
            <th>购买</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center">
            <td rowspan="3">真题精解版</td>
            <td>行测+申论</td>
            <td>全科历年真题精解</td>
            <td rowspan="3">课后赠2套模拟卷<br/>24小时以内解答</td>
            <td>48</td>
            <td>1280元</td>
            <td>🎧</td>
            <td>购买</td>
        </tr>
        <tr align="center">
            <td>行测</td>
            <td>行测历年真题精解</td>
            <td>32</td>
            <td>980元</td>
            <td>🎧</td>
            <td>购买</td>
        </tr>
        <tr align="center">
            <td>申论</td>
            <td>申论历年真题精解</td>
            <td>16</td>
            <td>580元</td>
            <td>🎧</td>
            <td>购买</td>
        </tr>
        <tr align="center">
            <td rowspan="3">高分技巧班</td>
            <td>行测+申论</td>
            <td>全科技巧强化</td>
            <td rowspan="3">入学试卷测评<br/>24小时内答疑</td>
            <td>32</td>
            <td>980元</td>
            <td>🎧</td>
            <td>购买</td>
        </tr>
        <tr align="center">
            <td>行测</td>
            <td>行测速解技巧强化</td>
            <td>18</td>
            <td>680元</td>
            <td>🎧</td>
            <td>购买</td>
        </tr>
        <tr align="center">
            <td>申论</td>
            <td>申论速解技巧强化</td>
            <td>14</td>
            <td>580</td>
            <td>🎧</td>
            <td>购买</td>
        </tr>
        </tbody>
    </table>
</body>
</html>