<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>a标签导航，用竖线分隔</title>
    <style>
        div {
            text-align: center;
            height: 50px;
        }
        a {
            text-decoration: none;
            color: #000;
            border-right: 1px solid #aaa;
            width: 120px;
            display: inline-block;
        }
        a:nth-of-type(10) {
            border: none;
        }
    </style>
</head>
<body>
    <div>
        <a href="#">文件</a>
        <a href="#">编辑</a>
        <a href="#">选择</a>
        <a href="#">查找</a>
        <a href="#">跳转</a>
        <a href="#">运行</a>
        <a href="#">发行</a>
        <a href="#">视图</a>
        <a href="#">工具</a>
        <a href="#">帮助</a>
    </div>
</body>
</html>