<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻列表页面-局部</title>
    <style>
        ul {
            list-style: none;
            width: 500px;
            margin: auto;
        }
        li {
            padding: 10px 0;
            border-bottom: 1px dotted #aaa;
        }
        a {
            text-decoration: none;
            color: #bbb;
        }
        a:before {
            content: '⊙  ';
        }
        li:last-child {
            border: none;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="#">冲突随时引爆？特朗普辱骂默克尔内幕曝光</a></li>
        <li><a href="#">青海省长刘宁，调任辽宁省委副书记(图)</a></li>
        <li><a href="#">北京：隔离人员中陆续出现多例发生症状不报告的情况</a></li>
        <li><a href="#">发现中国招格斗高手训练官兵，印军立刻做出部署</a></li>
        <li><a href="#">警方：“老干妈”与商户发生纠纷引发肢体冲突</a></li>
        <li><a href="#">公安局长是“黑老大”？专案组抽调300余名警力拿下</a></li>
        <li><a href="#">美国抗疫神药价格公布！美国网民怒了</a></li>
        <li><a href="#">特朗普的电话内容太猛 他最担心的局面出现了</a></li>
    </ul>
</body>
</html>