<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>万花筒管理系统</title>
    <link rel="stylesheet" th:href="@{/css/}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div class="wrapper">

    </div>

    <script src="js/wUtils.js"></script>
    <script src="js/cp.js"></script>
    <script>
        // console.log(new DLT().generateRes(5,2,5));
    </script>
</body>
</html>